@import "tailwindcss";

html, body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;       
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
